absl-py==2.2.2
h5py==3.13.0
keras==3.9.2
markdown-it-py==3.0.0
mdurl==0.1.2
ml_dtypes==0.5.1
namex==0.0.9
numpy==2.2.5
optree==0.15.0
packaging==25.0
Pygments==2.19.1
rich==14.0.0
scipy==1.15.2
typing_extensions==4.13.2
xgboost==3.0.0
